*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --primary: #3C788A;
    --second:#FFDE88;
}
body{
    background-color: #F8F8F8;
}
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:var(--primary);
    color: white;
    border-radius: 0px 0px 20px 20px;
    font-size: 18px;
    padding: 0;
    z-index: 1;
}
.navbar-nav{
    --bs-nav-link-hover-color:var(--second);
}
nav i{
    font-size: 24px;
}
.nav-link{
    color: white;
    padding: 12px;
}
.nav-link:focus{
    color: white;
}
.nav-item:hover {
    background-color: var(--second);
    color:white;
}
.nav-item:hover .nav-link{
    color:white;
}
.nav-icon:hover{
    color: var(--second);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
}
.logo span{
    color:white;
    font-weight: 700;
    margin: 0px 10px;
}

ul,li{
    display: inline;
    list-style: none;
}
.dropdown-menu, .dropdown-divider{
    background-color:#619AAB;
    margin: 0;
    padding: 0;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: var(--second);
    color: white;
}
.dropdown-toggle:hover .dropdown-menu{
    display: block;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;   
    background-color: #13404E;
}
main{
    padding-top:50px;
}
.sayHi{
    display: flex;
    align-items: center;
}
.sayHi div{
    padding-right:50px ;
}
.page-title{
    font-weight: 900;
    line-height: 72px;
}
.sayHi p{
    font-size: 24px;
    line-height: 50px;
    text-indent: 2em;
}
section{
    width: 70%;
    margin: 70px auto;
    color: var(--primary);
}
.catecory{
    text-align: center;
}
.display{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-flow: row;
}
.card{
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    border: none;
    color: var(--primary);
}
.card-img img{
    border: solid #dadada 1px;
    border-radius: 20px;
    max-width: 200px;
}

.card:hover .card-img img{
    filter:brightness(0.9) blur(0.5px);
    background-color: #dadada;
    transition: 0.5s;
}

.cart-btn{
    width: 100%;
    background-color: var(--primary);
    border: solid var(--primary) 1px;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.cart-btn:hover{
    background-color: var(--second);
    border: solid var(--second) 1px;
    transition: 0.5s;
}
.card-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}
.card-price{
    line-height: 32px;
}